{% block header %}
{% load static %}
<nav class="main-nav overlay clearfix">
	<a class="blog-logo" href="{% url 'index' %}"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 90px; height: 55px;" alt="Fashion Critiques"/></a>
	<ul id="menu"> <!--nav-current -->
		<li class="nav-home" role="presentation"><a href="{% url 'index' %}">Home</a></li>
		<li class="nav-article-example" role="presentation"><a href="{% url 'contestants' %}"><script>document.write(new Date().getFullYear())</script> Contestants Form</a></li>
		<li class="nav-about-us" role="presentation"><a href="{% url 'about' %}">About Us</a></li>
		<li class="nav-author-page" role="presentation"><a href="{% url 'contact' %}">Contact</a></li>
		<span class="socialheader">
		<a href="#"><span class='symbol'>circletwitterbird</span></a>
		<a href="#"><span class='symbol'>circlefacebook</span></a>
		<a href="#"><span class='symbol'>circlegoogleplus</span></a>
		<a href="mailto:ukokjnr@gmail.com"><span class='symbol'>circleemail</span></a>
		</span>
	</ul>
	</nav>
    {% endblock %}