{% extends './main.html' %}

{% load static %}

{% block content %}

<div class="site-wrapper">
	{% include './includess/dheader.html' %}
	<header class="main-header post-head " style="background-image: url({% static 'assets/img/intro.jpg' %})">
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="post-title">About Fashiony Layout</h1>
		</div>
	</div>
	</header>
	<main class="content" role="main">
	<article class="post tag-fashion tag-art page">
	<section class="post-content" style="padding: 20px;">
		<img src="{% static 'assets/img/random.jpg' %}" style="width: 200px; height:150px; border-radius: 50px;" alt="">
	<p>
		<strong>The blog combining journalist Victor's years of experience covering fashion and culture for among others. Read my blog and you will learn how to become a fashion editor.</strong>
	</p>
	<p>
		A decanter of aguardiente, a bowl of loaf sugar, and a pitcher of cold water from the spring, were set before us, and, being duly honoured, had a most reviving influence upon our spirits as well as our corporeal energies.
	</p>
	<p>
		Suspended from the walls of the room were numerous coarse engravings, highly coloured with green, blue, and crimson paints, representing the Virgin Mary, and many of the saints. These engravings are held in great veneration by the devout Catholics of this country. In the corners of the room were two comfortable-looking beds, with clean white sheets and pillow-cases, a sight with which my eyes have not been greeted for many months.
	</p>
	<p>
		Mr. Livermore has been a resident of California nearly thirty years, and, having married into one of the wealthy families of the country, is the proprietor of some of the best lands for tillage and grazing. An arroyo, or small rivulet fed by springs, runs through his rancho, in such a course that, if expedient, he could, without much expense, irrigate one or two thousand acres. Irrigation in this part of California, however, seems to be entirely unnecessary for the production of wheat or any of the small grains. To produce maize, potatoes, and garden vegetables, irrigation is indispensable. Mr. Livermore has on his rancho about 3500 head of cattle. His horses, during the late disturbances, have nearly all been driven off or stolen by the Indians.
	</p>
	<p>
		I saw in his corral a flock of sheep numbering several hundred. They are of good size, and the mutton is said to be of an excellent quality, but the wool is coarse. It is, however, well adapted to the only manufacture of wool that is carried on in the country, coarse blankets and serapes. But little attention is paid to hogs here, although the breeds are as fine as I have ever seen elsewhere. Beef being so abundant, and of a quality so superior, pork is not prized by the native Californians.
	</p>
	</section>
	</article>
	</main>

</div>
{% endblock %}