{% extends './main.html' %}

{% load static %}

{% block content %}

<div class="site-wrapper">
	{% include './includess/dheader.html' %}
	<header class="main-header post-head " style="background-image: url({% static 'assets/img/random.jpg' %})">
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="post-title">Once Upon a Time</h1>
			<div class="entry-title-divider">
				<span></span><span></span><span></span>
			</div>
			<section class="post-meta">
			<time class="post-date" datetime="2015-12-13">13 December 2016</time> | <a class="scrolltocomments" href="#disqus_thread">Comments</a>
			</section>
		</div>
	</div>
	</header>
	


	<main class="content" role="main">
		<div class="grid" >
			<div class="grid-item" style="text-align: center; width: 100%; align-items: center;">
				<h2 style="margin: 20px;">Register for Fashony Layout <script>document.write(new Date().getFullYear())</script> Beauty Pageant Competition</h2>
				<form id="paymentForm" method="POST" style="text-align: center; border-radius: 20px; padding: 20px; border: 5px dotted black" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<!-- <input type="submit" value="Submit"> -->
					<button type="submit" onclick="payWithPaystack()"> Submit and Pay </button>
				</form>
			</div>
		</div>
		<style>
			#id_name{
				width: 300px;
    			padding: 5px;
			}
			#id_description{
				width: 300px;
			}
			@media screen and (max-width: 425px) {
					#id_name{
					width: 100%;
					padding: 5px;
					border-radius: 10px;
				}
				#id_description{
					width: 100%;
					border-radius: 10px;
				}
			}
		</style>
		<!-- <nav class="pagination" role="navigation">
		<span class="page-number">Page 1 of 2</span>
		<a class="older-posts" href="#">Older Posts &rarr;</a>
		</nav> -->
		</main>
	
	<div class="clearfix">
	</div>
	<script src="https://js.paystack.co/v1/inline.js"></script>
	<script>
		const paymentForm = document.getElementById('paymentForm');
paymentForm.addEventListener("submit", payWithPaystack, false);
function payWithPaystack(e) {
  e.preventDefault();
  let handler = PaystackPop.setup({
    key: 'pk_test_7b253d342edfc96c63da319728cacdf4c862a559', // Replace with your public key
    email: document.getElementById("id_email").value,
    amount:  5000 * 100,
    ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
    // label: "Optional string that replaces customer email"
    onClose: function(){
      alert('Window closed.');
    },
    callback: function(response){
		fetch('https://api.paystack.co/transaction/verify/' + response.reference, {
			method: 'GET',
			headers: {
				Authorization: 'Bearer sk_test_dcd1ea88279fdd65d071124e787a4b7b4e2aab64'
			}
		}).then(data => {
			if(data.status) {
					document.getElementById("paymentForm").submit();
			} else {
				alert('There was an error confirming your payment');
			}
		})
		// .then(d => {
		// 	console.log(JSON.stringify(d));
		// })
	
    //   let message = 'Payment complete! Reference: ' + response.reference;
    //   alert(message);
    }
  });
  handler.openIframe();
}
	</script>
	
</div>

{% endblock %}